<h1>Tournaments#show</h1>
<p>Find me in app/views/tournaments/show.html.erb</p>
<p><%= @tournament.name%></p>
<p><%= @tournament.event_date %></p>
<p><%= @tournament.place %></p>
<p><%= @tournament.athletic_event %></p>
<p><%= @tournament.note %></p>
<p><%= @tournament.deadline %></p>
<p><%= link_to '参加する', new_tournament_participant_team_path(@tournament) %></p>
